<! DOCTYPE html>

<html>
  <head>
    <title> aniket carrer</title>
    <style>
      h1{
        font-size: 40px;
        font-family:Roboto;
        font-weight:normal;
        color:rgb(100,0,0);
        text-align:center;
        
      }
      #banner{
       width:100%;
        height:360px;
        object-fit:cover;
      }
    </style>
  </head>

  <body>
     <h1>aniket carrier</h1>
     <img src="https://webapplicatio-aniket-2.432-aniketanike.repl.co/static/1.jpg" height="320">
     <h1>about jovin</h1>
     <p>
       shdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaas
       dasfhuiuiuiuiuiuiuiuiuiuiuiuiuiuiuiuiuiuiuih
       fasdj;;;;;juasuf9suiofusd9isodf9eiosdf
       uihdasud99999999999999999999999999999999999999999999999wa
       ifhanweiue000000000000000000000r9e9
     </p>
    <h1>open position </h1>
    <h1>todo show the jobs here</h1>
    <div style="text-align:center;">
      <button>contact use</button>
    </div>
    
  </body>
   
  
</html>